{% extends 'base1.html' %}
{% load static %}


{% block content %}

    <article class="is-post is-post-excerpt">
        <header>
            <!--
                Note: Titles and bylines will wrap automatically when necessary, so don't worry
                if they get too long. You can also remove the "byline" span entirely if you don't
                need a byline.
            -->
            <h2><a href="#">Contact us</a></h2>
            {#            <span class="byline">走在RoboCup夺冠路上</span>#}
        </header>
        <div class="info">
            <!--
                Note: The date should be formatted exactly as it's shown below. In particular, the
                "least significant" characters of the month should be encapsulated in a <span>
                element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
                Oh, and if you don't need a date for a particular page or post you can simply delete
                the entire "date" element.

            -->
            <span class="date">
                <span class="month">May<span></span></span> <span class="day">31</span><span
                    class="year">, 2014</span></span>
            <!--
                Note: You can change the number of list items in "stats" to whatever you want.
            -->
            <ul class="stats">
                <li><a href="#" class="link-icon24 link-icon24-1">16</a></li>
                <li><a href="#" class="link-icon24 link-icon24-2">32</a></li>
                {#                <li><a href="#" class="link-icon24 link-icon24-3">64</a></li>#}
                {#                <li><a href="#" class="link-icon24 link-icon24-4">128</a></li>#}
            </ul>
        </div>

        <br>

        <ul>
            <li>Home: <a href="http://www.robocuprescue.org/">http://www.robocuprescue.org/</a></li>
            <li>SourceForge: <a href="http://sourceforge.net/projects/roborescue/files/roborescue/">http://sourceforge.net/projects/roborescue/files/roborescue/</a></li>
            <li>Wiki: <a href="http://wiki.robocup.org/wiki/Rescue_Simulation_League">http://wiki.robocup.org/wiki/Rescue_Simulation_League</a></li>
            <li>Gmail: <a>Ruan.yuji@gmail.com</a></li>
        </ul>

    </article>

    <br>
    <br>
    <br>

{% endblock content %}