{% extends "base1.html" %}
{% load helper %}

{% block title %}{{ page.title }} - {% endblock %}

<html>
{% block content %}
    <br>
    <br>
    <br>
    <div>
        <article>

            <article class="is-post is-post-excerpt">
                {% if page.title %}
                    <header>
                        <h2><a href="{{ post.get_absolute_url }}">{{ page.title }}</a></h2>
                    </header>
                {% endif %}
                <div class="info">

                    <span class="date">
                        <span class="month">{{ page.get_Create_Month }}</span>
                        <span class="day">{{ page.created_at.day }}</span>
                        <span class="year">, 2014</span>
                    </span>
                    <!--
                        Note: You can change the number of list items in "stats" to whatever you want.
                    -->
                    <ul class="stats">
                        <li><a href="#disqus_thread" class="link-icon24 link-icon24-1">16</a></li>
                        <li><a href="#" class="link-icon24 link-icon24-2"
                               onclick="location.href='http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent('{{ page.title }}')+'&url='+encodeURIComponent(location.href);return false;">20</a>
                        </li>

                        {#                    <li><a href="#" class="link-icon24 link-icon24-3">64</a></li>#}
                        {#                    <li><a href="#" class="link-icon24 link-icon24-4">128</a></li>#}
                    </ul>
                </div>

                <div class="entry-content">{{ page.content|safe }}</div>
                <br>
                <br>

            </article>
            {% if footer %}
                <footer>
                    <p class="meta">
                        {% if page.author %}<span class="byline author vcard">
                            Posted by <span class="fn">{{ page.author }}</span></span>{% endif %}
                        <time datetime="{{ page.created_at|date:"Y-m-d H:i:s O" }}" pubdate>{{ page.created_at }}</time>
                        {% if tags %}<span class="categories"></span>
                            {% for i in tags %}<a class="category" href="{{ i.get_absolute_url }}">{{ i.name }}</a>
                            {% endfor %}{% endif %}
                    </p>
                    <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#"
                                                                                                      class="bds_qzone"
                                                                                                      data-cmd="qzone"></a><a
                            href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq"
                                                                               data-cmd="tqq"></a><a href="#"
                                                                                                     class="bds_renren"
                                                                                                     data-cmd="renren"></a><a
                            href="#" class="bds_weixin" data-cmd="weixin"></a></div>

                    {#                    <!-- baidu share -->#}
                    {#                    <script>window._bd_share_config = {"common": {"bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdPic": "", "bdStyle": "0", "bdSize": "16"}, "share": {}, "image": {"viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16"}, "selectShare": {"bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]}};#}
                    {#                    with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>#}

                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a class="jiathis_button_fb"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
                           target="_blank"></a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js"
                            charset="utf-8"></script>
                    <!-- JiaThis Button END -->

                    {#                    {% if sharing %}#}
                    {#                        <div class="sharing">#}
                    {#                            Share to#}
                    {#                            <a href="http://twitter.com/share" class="twitter-share-button">Tweeter</a>#}
                    {#                            <a href="#"#}
                    {#                               onclick="location.href='http://v.t.sina.com.cn/share/share.php?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href);return false;">Weibo</a>#}
                    {#                            <wb:share-button appkey="2D7Wtq" addition="simple" type="button"#}
                    {#                                             ralateUid="2546946082"></wb:share-button>#}
                    {#                            <!-- renren -->#}
                    {#                            <script type="text/javascript" src="http://widget.renren.com/js/rrshare.js"></script>#}
                    {#                            <a name="xn_share" onclick="shareClick()" type="button_medium" href="javascript:;"></a>#}
                    {#                            <script type="text/javascript">#}
                    {#                                function shareClick() {#}
                    {#                                    var rrShareParam = {#}
                    {#                                        resourceUrl: '',	//分享的资源Url#}
                    {#                                        srcUrl: '',	//分享的资源来源Url,默认为header中的Referer,如果分享失败可以调整此值为resourceUrl试试#}
                    {#                                        pic: '',		//分享的主题图片Url#}
                    {#                                        title: '',		//分享的标题#}
                    {#                                        description: ''	//分享的详细描述#}
                    {#                                    };#}
                    {#                                    rrShareOnclick(rrShareParam);#}
                    {#                                }#}
                    {#                            </script>#}
                    {#                        </div>#}
                    {#                    {% endif %}#}
                </footer>
            {% endif %}
        </article>


        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'apollorescue'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


        {#{% if comments %}#}
        {#  <section>#}
        {#    <h1>Comments</h1>#}
        {#    <div id="disqus_thread">#}
        {#      <div id="disqus_thread"></div>#}
        {#      <script type="text/javascript">#}
        {#        var disqus_shortname = '{{ settings.DISQUS_SHORTNAME }}';#}
        {#        //var disqus_developer = 1;#}
        {#        (function() {#}
        {#          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;#}
        {#          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';#}
        {#          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);#}
        {#        })();#}
        {#      </script>#}
        {#      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>#}
        {#    </div>#}
        {#  </section>#}
        {#{% endif %}#}
    </div>
{% endblock %}


{#{% block sidebar %}#}
{#  {% get_recent_posts 5 %}#}
{#  {% get_top_tags 20 %}#}
{#{% endblock %}#}
